<main class="flex-grow-1">
  <div class="container my-3">
    <h1 class="text-center mt-3">Listing all articles 📋</h1>
    <div class="text-center mt-3">
      <%= link_to "Create a New Article", new_article_path , class: "btn btn-primary" %>
    </div>
    <%= render "article" %>
  </div>
</main>
<%= render "layouts/footer"%>
