<h1>Showing article details</h1>

<p>
    <strong>Title:</strong>
    <span class="lead"><%= @article.title %></span>
</p>
<p>
    <strong>Description:</strong>
    <span class="lead"><%= @article.description %></span>
</p>

