<main class="flex-grow-1">
  <div class="container my-3">
    <h1 class="text-center my-3">sign up for alpha blog</h1>
    <%= render "form" %>
  </div>
</main>

<%= render "layouts/footer"%>
