<main class="flex-grow-1">
  <div class="container my-3">
    <h1>About 🧭</h1>
    <p class="mt-5">
      <%= link_to "Home page", root_path , class: "btn btn-primary" %>
    </p>
  </div>
</main>
<%= render "layouts/footer"%>