@import 'bootstrap/dist/css/bootstrap';

/****************************************************************/
.my_img_home {
    height: 450px;
    object-fit: cover;
    object-position: 50% 75%;
}

/****************************************************************/

