<div class="container my-3">
  <% for type, msg in flash %>
    <% if type == "notice" %>
      <div class="alert alert-success alert-dismissible fade show">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#check-circle-fill"/></svg>
        <%= msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    <% else %>
      <div class="alert alert-danger alert-dismissible fade show">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <%= msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    <% end %>

  <% end %>
</div>
<%# flash.each do |type, msg| %>
<%# end %>
